<html>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <nav>
        <div class="nav-wrapper p5 m4" style="background-color:Blue">
        <a href="#" class="brand-logo">DsNAlgo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="#">Components</a></li>
            <li><a href="#">JavaScript</a></li>
        </ul>
        </div>
  </nav>  
    <title>{% block title %}
    Base Title
    {% endblock title %}</title>
    {% block body %}
    This is the body
    {% endblock body %}   
    
    </html>
